$bg-color: #fafafa;
$bg-color-btn:#ebebee;
$bg-color-nav: #2d2d2d;
$bg-color-menu-mob: #282828;
$bg-color-submenu-item: #dbdbdb;
$bg-color-header: #ffffff;
$bg-color-footer: #ececec;
$text-color-l: #efefef;
$text-color-d: #5a5a5a;
$hover-color: #eb008b;
$input-border-color: #c8c8c8;